<div class="modal-header">
    <h4 class="modal-title pull-left">Game over</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="isComputerWinner; else playerWin">Computer win.</div>
    <ng-template #playerWin>
        {{playerStore.userName}} win.
    </ng-template>
</div>