<div *ngIf="!gameService.winner">
    <div class="container">
        <div class="main">
            <div class="body">
                <div>
                    <div>
                        <p class="text-center title">Computer</p>
                    </div>
                    <p class="text-center">{{gameService.lastComputerTurn.total}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <div class="body">
                <div>
                    <p class="text-center">{{gameService.lastPlayerTurn.total}}</p>
                    <div class="actions-wrapper">
                        <div class="actions" *ngIf="gameService.isPlayerTurn">
                            <p class="text-center">Make your turn</p>
                            <div class="button-wrapper">
                                <button type="button" class="btn btn-secondary"
                                    (click)="turn(turnActions.PLUS)">+1</button>
                                <button type="button" class="btn btn-secondary"
                                    (click)="turn(turnActions.ZERO)">0</button>
                                <button type="button" class="btn btn-secondary"
                                    (click)="turn(turnActions.MINUS)">-1</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>