.main {
  display: flex;
  padding: 50px;
  .body {
    margin: auto;
    width: 600px;
    .text-center {
      text-align: center;
      &.title {
        font-weight: 600;
        font-size: 27px;
        line-height: 21px;
        margin-bottom: 50px;
      }
    }
    .actions-wrapper {
      display: flex;
      .actions {
        margin: auto;
        .button-wrapper {
          width: 200px;
          display: flex;
          justify-content: space-between;
          button {
            width: 60px;
          }
        }
      }
    }
  }
}
