<div class="container">
    <div class="content-wrapper">
        <div class="header">
            <p align="center">Welcome to Game of Three</p>
        </div>
        <div class="body">
            <form [formGroup]="nameForm" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="name">Enter your name and press Start</label>
                    <input type="name" formControlName="name" class="form-control" id="name" placeholder="Your name">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="isFormInvalid">Start new game</button>
            </form>
        </div>
    </div>
</div>