.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    margin: 30px 0 30px 0;
    width: 100%;
    p {
      font-size: 27px;
      line-height: 21px;
    }
  }
  .body {
    width: 100%;
  }
}
