<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand" *ngIf="gameService.isComputerTurn; else playerTurn">Computer turn</span>
    <ng-template #playerTurn>
        <span class="navbar-brand">{{navbarStore.userName}} turn</span>
    </ng-template>

    <div class="button-wrapper">
        <button type="button" class="btn btn-outline-dark" (click)="startNewGame()">Start new game</button>
    </div>
</nav>