html {
  font-size: 2.2vh;
}

body {
  margin: 0;
  line-height: 1 !important;
  font-family: 'Roboto', sans-serif !important;
  min-width: 768px;
  height: 100%;
  background: white;
}

.container {
  max-width: 1500px;
  min-width: 728px;
  min-height: 200px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}
